page-login {
  background-image: url('../assets/imgs/bgGiallo.jpg') !important;
  background-size: cover;
  background-position: center center;
  text-align: center;
  .logo{
    width: 50vw;
    margin: auto;
    margin-top: 5vh;
  }
  ion-item{
    background-color: transparent !important;
    color: map-get($colors, secondary) !important;
    border-bottom: solid 1px white !important;
  }

  ion-label {
    color: map-get($colors, secondary) !important;
}
}
