<ion-content padding>
  <h3>Login</h3>
  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input [(ngModel)]="user.email" type="email"></ion-input>
  </ion-item>

  <ion-item *ngIf="this.seePassword">
    <ion-label floating>Password</ion-label>
    <ion-input [(ngModel)]="user.password" type="text"></ion-input>
  </ion-item>

  <ion-item *ngIf="!this.seePassword">
    <ion-label floating>Password</ion-label>
    <ion-input [(ngModel)]="user.password" type="password"></ion-input>
  </ion-item>

  <ion-row>
    <div class="button oneThird" ion-button (tap)="login(user)">Login</div>
    <div class="secondaryButton oneThird" ion-button (tap)="register()">Register</div>
  </ion-row>

</ion-content>
