page-home {
  ion-fab{
    width: 100vw;
    margin-top: 55vh;
    ion-col{
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 2vh;
      }
    }
  }
  .rowRoundButtons{
    display: flex;
    justify-content: center;
  }

  .introImg{
    width: 100%;
    height: 45vh;
}

}
