<ion-content>
  <img src="assets/imgs/miniBlu.jpg">
  <h3 class="title">Mi conviene?</h3>

  <ion-item>
    <ion-input (keyup)="focusFunction()" [(ngModel)]="product.name" placeholder="Nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="checkPrice" type="number" placeholder="Prezzo"></ion-input>
  </ion-item>

  <div class="spacer"></div>

  <ion-row class="rowRoundButtons">
    <div class="button full" ion-button (tap)="conviene(product.name, checkPrice);">Conviene?</div>
  </ion-row>

  <div *ngIf="convieneBool == true" class="conviene">
    <div class="circle">
      <ion-icon name="basket"></ion-icon>
    </div>
    <p>E' un'ottima offerta</p>
    <div class="spacer"></div>
    <button full ion-button class="whiteButton" (tap)="updateProduct(product.$key, checkPrice)">Aggiorna il prezzo offerta</button>
    <button full ion-button class="whiteButton" navPush="ProductPage" [navParams]="{product: product}">Scheda prodotto</button>
    <button full ion-button class="secondaryButton" (tap)="goToPage('HomePage')">Home</button>
  </div>

  <div *ngIf="convieneBool == false" class="nonConviene">
    <div class="circle">
      <ion-icon name="basket"></ion-icon>
    </div>
    <p>Il prezzo è più alto del normale</p>
    <div class="spacer"></div>
    <button full ion-button class="whiteButton" class="button" (tap)="goToPage('HomePage')">Home</button>
  </div>

  <div *ngIf="completeForm" class="conviene">
    <p>Completa il form inserendo nome e prezzo del prodotto</p>
    <div class="spacer"></div>
    <div class="secondaryButton" (tap)="dismissAlert()">chiudi</div>
  </div>

  <div *ngIf="noResult" class="nonConviene">
    <p>Questo prodotto non è presente nel database</p>
    <div class="spacer"></div>
    <button full ion-button class="button" navPush="AddProductPage" [navParams]="{productN: product.name, productP: product.price}" >Aggiungi prodotto</button>
    <button full ion-button class="secondaryButton" (tap)="dismissAlert()">chiudi</button>
  </div>
</ion-content>
