<ion-content>
  <img src="assets/imgs/introBlu.jpg">
  <h3 class="title">Cerca
    <br />un prodotto</h3>

  <ion-item>
    <ion-input [(ngModel)]="product.name" placeholder="Nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="product.name" placeholder="Nome"></ion-input>
  </ion-item>

  <div class="button full" ion-button (tap)="conviene();">Conviene?</div>

  <div *ngIf="convieneBool == true" class="conviene">
    <div class="circle">
      <ion-icon name="cart"></ion-icon>
    </div>
    <p>E' un'ottima offerta</p>
    <div class="spacer"></div>
    <div class="whiteButton" (tap)="dismissAlert(product)">Scheda</div>
    <div class="secondaryButton" (tap)="goToPage('HomePage')">Home</div>
  </div>
  <div *ngIf="convieneBool == false" class="nonConviene">
    <div class="circle">
      <ion-icon name="cart"></ion-icon>
    </div>
    <p>Il prezzo è più alto del normale</p>
    <div class="spacer"></div>
    <div class="whiteButton" (tap)="dismissAlert(product)">Scheda</div>
    <div class="button" (tap)="goToPage('HomePage')">Home</div>
  </div>

</ion-content>
