<ion-content>

  <div *ngIf="pictureTaken == false" class="productImageContainer">
    <img src="assets/imgs/squareBlu.jpg" class="productImage">
    <button ion-fab color="primary" (tap)="takePicture()">
      <ion-icon name="camera" class="cameraIcon"></ion-icon>
    </button>
  </div>

  <div *ngIf="pictureTaken == true" class="productImageContainer">
    <img [src]="product.img" class="productImage" />
    <button ion-fab color="light" (tap)="takePicture()">
      <ion-icon name="camera" class="cameraIcon"></ion-icon>
    </button>
    <!--<button ion-fab color="primary" (tap)="savePicture()">
      <ion-icon name="checkmark" class="cameraIcon"></ion-icon>
    </button> -->
  </div>

  <img src="assets/imgs/curvaGialla.png" class="curve">
  <div class="white" color="light">



    <h3 class="title">Aggiungi
      <br />un prodotto</h3>


    <ion-item>
      <ion-input (keyup)="focusFunction()" [(ngModel)]="product.name" placeholder="Nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="product.store" placeholder="Negozio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="product.price" type="number" placeholder="Prezzo"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col col-4>
        <ion-item>
          <ion-label>Unità</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-8>
        <ion-list radio-group [(ngModel)]="product.unity">
          <ion-item>
            <ion-label>Al Kg</ion-label>
            <ion-radio value="Al kg" checked></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Al litro</ion-label>
            <ion-radio value="Al litro"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Per confezione</ion-label>
            <ion-radio value="Per confezione"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-input [(ngModel)]="product.storeSale" placeholder="Negozio offerta"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="product.priceSale" type="number" placeholder="Prezzo offerta"></ion-input>
    </ion-item>

    <div class="spacer"></div>

    <ion-row class="rowRoundButtons">
      <div class="button full" ion-button (tap)="addProduct(product)">Aggiungi prodotto</div>
    </ion-row>

    <div class="spacer"></div>

    <div *ngIf="savedProduct" class="completeFormAlert">
      <p>Il prodotto è stato correttamente salvato</p>
      <div class="spacer"></div>
      <div class="secondaryButton full" (tap)="dismissAlert()">chiudi</div>
    </div>
    <div *ngIf="completeForm" class="savedProductAlert">
      <p>Completa il form inserendo nome e prezzo del prosotto</p>
      <div class="spacer"></div>
      <div class="button" (tap)="dismissCompleteFormAlert()">chiudi</div>
    </div>
  </div>
</ion-content>
