page-add-product {
  //background-color: map-get($colors, primary);
  .item {
    background-color: transparent;
    color: map-get($colors, secondary);
  }
  .label {
    color: map-get($colors, secondary) !important;
    font-weight: bold;
  }
  .item-input {
    color: map-get($colors, secondary) !important;
  }

  .savedProductAlert {
    background-color: rgba(35, 43, 52, 0.85);
    opacity: 80%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 30vh 10vw;
    color: white;
    text-align: center;
    font-size: 3vh;
    p:first-child {
      margin: 0;
    }
  }

  .completeFormAlert {
    background-color: rgba(255,202,80, 0.85);
    opacity: 80%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 30vh 10vw;
    color: map-get($colors, secondary);
    text-align: center;
    font-size: 3vh;
    p:first-child {
      margin: 0;
    }
  }


}
